<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>アニメ関連</title>
  </head>
  <body>
    <!-- メニューここから -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">menu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">アニメTOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./todayAnime.html">今日のアニメ一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./yesterdayAnime.html">昨日のアニメ一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./minogashi.html">見逃しアニメ一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./anyAnime.html">任意の日のアニメ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./minogashiALL.html">見逃しアニメ一覧（全期間）</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../list/">Listに戻る</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- メニューここまで -->
    <div id="app">
      <h1 class="text-center" v-if="anime">{{anime[0].title}}:各話リスト</h1>
      <h2 class="text-center"> {{error}} </h2>
      <div v-if="anime">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td> タイトル </td>
              <td> {{anime[0].title}} </td>
            </tr>
            <tr>
              <td> 放送局 </td>
              <td> {{anime[0].chName}} </td>
            </tr>
            <tr>
              <td> hashTag </td>
              <td> {{hashTag}} </td>
            </tr>
            <tr>
              <td> 公式サイト </td>
              <td class="text-nowrap"> <a v-bind:href="publicURL" class="btn-link">公式サイト</a> </td>
            </tr>
            <tr>
              <td> characterURL </td>
              <td class="text-nowrap"> <a v-bind:href="characterURL" class="btn-link">characterURL</a> </td>
            </tr>
            <tr>
              <td> しょぼいカレンダーURL </td>
              <td class="text-nowrap"> <a v-bind:href="sb_url" class="btn-link">しょぼいカレンダーURL</a> </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">回</th>
              <th scope="col" class="text-nowrap">サブタイ</th>
              <th scope="col" class="text-nowrap d-none d-sm-table-cell">放送日</th>
              <th scope="col" class="text-nowrap d-none d-sm-table-cell">コメント</th>
              <th scope="col" class="text-nowrap">チェック用URL</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="story in anime" v-bind:class="{ 'table-danger': story.minogashi == 0 }">
              <td> {{story.Count}} </td>
              <td> <a v-bind:href="story.commentURL" class="btn-link">{{story.SubTitle}}</a> </td>
              <td class="text-nowrap d-none d-sm-table-cell"> {{story.startTime.getMonth()+1}} / {{story.startTime.getDate()}}</td>
              <td class="d-none d-sm-table-cell"> {{story.comment}} </td>
              <td class="text-nowrap"> <button v-on:click="changeMinogashi(story)" class="btn-success">見逃し</a> </td>
            </tr>
          </tbody>
        </table>
        <h3>レビューコメント</h3>
        <table class="table table-hover table-bordered">
          <tbody v-if="loading">
            <tr>
              <td class="load"> 読み込み中！ </td>
            </tr>
          </tbody>
          <tbody v-if="review">
            <tr>
              <td class="text-nowrap"> 視聴年度 </td>
              <td> {{review.視聴年度}} </td>
            </tr>
            <tr>
              <td class="text-nowrap"> 話数 </td>
              <td> {{review.話数}} </td>
            </tr>
            <tr>
              <td class="text-nowrap"> 評価 </td>
              <td> {{review.評価}} </td>
            </tr>
            <tr>
              <td class="text-nowrap"> コメント </td>
              <td> {{review.コメント}} </td>
            </tr>
            <tr>
              <td class="text-nowrap"> 変更結果 </td>
              <td> {{changeResult}} </td>
            </tr>
          </tbody>
        </table>
        <div class="form-group" v-if="review">
          <label>話数の編集</label>
          <input type="text" class="form-control" v-model="review.話数">
          <label>評価の編集</label>
          <input type="text" class="form-control" v-model="review.評価">
          <label>コメントの編集</label>
          <textarea class="form-control" rows="3" v-model="review.コメント"></textarea>
          <button class="btn btn-primary" v-on:click="updateReview()">送信する</button>
        </div>
      </div>
      <h3 class="text-center">番組基本情報の更新</h3>
      <div class="form-group">
        <label>ハッシュタグの編集</label>
        <input type="text" class="form-control" v-model="hashTag">
        <label>公式サイトの編集</label>
        <input type="text" class="form-control" v-model="publicURL">
        <label>characterURLの編集</label>
        <input type="text" class="form-control" v-model="characterURL">
        <button class="btn btn-primary" v-on:click="updateAnimeAbout">送信する</button>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript" src="./js/getAnimeStoryList.js"></script>
  </body>
</html>
